<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志管理系统0.3</title>
    <script src="../js/echarts.js"></script>
    <script type="text/javascript" src="../easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<div class="easyui-layout mainlayout" id="mainlayout">
    <!--头部内容-->
    <div data-options="region:'north'" id="north" class="north" style="background-color: #337ab7">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-size: 35px; color: #EFF5FF" href="#">日志管理系统0.3</a>
        </div>
    </div>
    <!--菜单内容内容-->
    <div data-options="region:'west'" id="west" class="west">
        <a class="list-group-item active">
            菜单选项
        </a>
        <a href="/dosyxx" class="list-group-item">首页信息</a>
        <a href="/dofwjd" class="list-group-item">服务节点</a>
        <a href="/dofwjq" class="list-group-item">服务集群</a>
        <a href="/dozcfw" class="list-group-item">注册服务</a>
        <a href="/doyyfw" class="list-group-item">应用服务</a>
        <a href="/dorztb" class="list-group-item">日志图表</a>
        <a href="/dossrz" class="list-group-item">实时日志</a>
    </div>
    <!--中间内容-->
    <div data-options="region:'center'">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">日志图表</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="modal" onclick="addTable()" plain="true">添加图表</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="modal" onclick="deleteTable()" plain="true">删除图表</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#table_1">
                            折线图表分析
                        </a>

                    </h4>
                </div>
                <div :id="table_1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <input id="zxtb_select" class="easyui-combobox" width="30px" height="auto">
                        <div style="width: 100%;height: 300px;" id="chart_zxtb"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#table_2">
                            柱状图表分析
                        </a>
                    </h4>
                </div>
                <div :id="table_2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <input id="zztb_select" class="easyui-combobox" width="30px" height="auto">
                        <div style="width: 100%;height: 300px;" id="chart_zztb"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#table_3">
                            饼状图表分析
                        </a>
                    </h4>
                </div>
                <div :id="table_3" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <input id="bztb_select" class="easyui-combobox" width="30px" height="auto">
                        <div style="width: 100%;height: 300px;" id="chart_bztb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加图表弹窗 -->
<div class="modal fade" id="add_table_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 320px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="agentLabel">创建图表信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>图表名称</label>
                    <input id="tablename" type="text" class="form-control" placeholder="输入图表名称">
                </div>
                <div class="form-group">
                    <label>节点地址</label>
                    <select id="table_select" class="form-control">
                        <option>折线图</option>
                        <option>柱状图</option>
                        <option>饼状图</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>集群选择</label>
                    <select id="colony_select" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label>功能描述</label>
                    <input id="descrption" type="text" class="form-control" placeholder="输入功能描述">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submit_btn()">生成</button>
            </div>
        </div>
    </div>
</div>
<!-- END--添加图表弹窗 -->
<!-- 删除图表弹窗 -->
<div class="modal fade" id="delete_charttable_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 320px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="chartLabel">删除图表信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>表名选择</label>
                    <select id="tablename_select" class="form-control">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="delete_btn()">删除</button>
            </div>
        </div>
    </div>
</div>
<!-- END--删除图表弹窗 -->
<script type="text/javascript" src="../js/logmisrztb.js"></script>
</body>
</html>